/**/
/* Navbar styles */
nav {
    background-color: #00274C; /*top bar*/
    padding: 10px 0;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 1000; /* Ensure the navbar is above other content */
}

nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    
}

nav ul li {
    display: inline; 
}


nav ul li a {
    color: #FFCB05; /*#FFCB05*/
    text-decoration: none;
    padding: 10px;
}

nav ul li a:hover { 
    background-color: #FFCB05; /*#FFCB05*/
}

/* Dropdown content styles */
.dropdown-content { /* :focus-visible adds the links to nav bar, does not toggle off, inline shows links, but messes with format*/
    display: none; /*changed, allowed links to display, inline-block*/
    position: absolute;
    top: 100%; /* Position below the navbar */
    left: 0;
    width: 100%; /*changed to 80, added margin*/
    background-color: #00274C; /*#00274C // test color//*/
    z-index: 999; /* Ensure the dropdown is above other content */
    padding: 10px 0;
    box-sizing: border-box;
    
}

.dropdown-content.show {display: block;}

/*link/text*/
.dropdown-content a {
    display: block;
    padding: 10px;
    color: #FFCB05;
    background-color: #00274C;
    text-decoration: none;
}

/*box around text*/
.dropdown-content a:hover {
    background-color: #FFCB05;
}

.next-button {
    background-color: #00274C;
    border: none;
    color: #FFCB05;
    padding: 8px 18px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 10 px;
    margin: 4px 2px;
  }

  .back-button {
    background-color: #00274C;
    border: none;
    color: #FFCB05;
    padding: 8px 18px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 10 px;
    margin: 4px 2px;
  }

  .finish-button {
    background-color: #00274C;
    border: none;
    color: #FFCB05;
    padding: 8px 18px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 10 px;
    margin: 4px 2px;
  }

  .completed-button {
    background-color: #00274C;
    border: none;
    color: #FFCB05;
    padding: 8px 18px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 10 px;
    margin: 4px 2px;
  }

/* Page content styles */
.page-content {
    text-align: center;
    margin-top: 100px; /* Adjust margin top to leave space for the navbar */
    margin-left: 160px;
    margin-right: 160px;
    margin-bottom: 100px;
    word-wrap :break-word;
    transition: margin-top 0.5s; /* Add transition effect for smooth animation */
}

